/*nav*/

.prod_nav {
	width: 100%;
	background-color: #16a8e0;
	color: white;
	font-size: 14px;
	float: left;
}

.prod_nav_text {
	margin: 5px 5px 5px 5px;
	display: table;
}

.prod_nav_img {
	width: 30px;
	height: 30px;
	border-radius: 50%;
	float: left;
}

.prod_nav_name {
	float: left;
	margin-left: 5px;
	margin-top: 3px;
	color: white;
}

.prod_nav_title {
	float: right;
	margin-top: 18px;
	font-size: 10px;
	margin-right: 10px;
}


/*end*/


/*search*/

.prod_search_box {
	width: 100%;
	font-size: 15px;
	position: fixed;
	z-index: 8;
	margin-top: -38px;
	background-color: white;
}

.prod_search_box_mag {
	width: 85%;
	float: left;
}

.prod_search_shop {
	width: 30px;
	height: 30px;
	margin-top: 8px;
	float: right;
	margin-right: 10px;
	background-image: url(../img/shop.png);
}

.prod_search_shop label {
	margin-left: 15px;
	font-size: 15px;
	color: red;
}


/*end*/


/*page*/

.prod_page_mag {
	margin-top: 70px;
}

.prod_cont_box {
	width: 50%;
	float: left;
	box-sizing: border-box;
	box-shadow: 0px 0px 1px 0px #E6E6E6;
	background-color: #F8F8F8;
}

.prod_cont_imgbox {
	width: 37w;
	height: 37vw;
}

.prod_cont_img {
	width: 37vw;
	height: 37vw;
}

.prod_cont_name {
	margin-top: 5px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
	font-size: 15px;
}


/*end*/

ul li {
	list-style-type: none;
}

.page_left {
	/*width: 105px;*/
	/* height: 17px; */
	margin-top: -2px;
}

.page_left li:first-child {
	border-left: none;
}

.page_left li {
	border-right: 1px solid #d9d9d9;
	list-style: none;
	width: 100%%;
	height: 52px;
	/*border-left: 1px solid #d9d9d9;*/
	font-size: 15px;
	/* font-family: "楷体"; */
	line-height: 55px;
	text-align: center;
	/* float: left; */
	/*鼠标样式改变为一个手*/
	cursor: pointer;
	/*字体免选中*/
	-webkit-user-select: none;
	/*width: 104px;*/
	background: white;
	margin-top: 1px;
	overflow: hidden;
}

.wrap .page_left li.active {
	border-right: 0px solid #d9d9d9;
	font-weight: bold;
	color: #EC7777;
	/* border-top: 2px solid red; */
	position: relative;
	top: 0px;
	height: 52px;
	/*width: 104px;*/
	background: #F8F8F8;
	margin-left: 0px;
	overflow: hidden;
}

.right_div {
	margin-left: 25%;
	background: white;
	border-bottom: 1px solid #E6E6E6;
	margin-bottom: 50px;
}

.wrap {
	float: left;
	overflow-y: scroll;
	height: 87%;
	width: 25%;
	margin-top: 0px;
	position: fixed;
	z-index: 2;
	background-color: #E1E1E1
}

.wrap2 {
	overflow-y: hidden;
}

.page_right {
	width: 100%;
	float: left;
	overflow-y: scroll;
	height: 100%;
	position: fixed!important;
	position: absolute;
}

.row_2em_div {
	margin-top: -26px;
	margin-left: 52px;
	color: #353535;
	overflow-y: scroll;
}


/*next*/

.prod_next_title {
	/* height: 2.2rem; */
	display: flex;
	text-align: center;
	word-wrap: break-word;
	margin-left: 10px;
}

.prod_next_name {
	color: black;
	margin-left: 80px;
	margin-top: -20px;
	line-height: 17px;
	font-size: 16px
}

.prod_next_depict {
	margin-left: 80px;
	margin-top: -20px;
	line-height: 15px;
	font-size: 15px;
}

.prod_next_span span {
	color: #888888;
}

.btn_minus {
	border-radius: 50%;
	background-color: #9B9B9B;
	padding: 0 7px;
	font-size: 16px;
	color: black;
}

.btn_add {
	border-radius: 50%;
	background-color: #9B9B9B;
	padding: 0 5px;
	color: black;
}

.btn_end {
	background-color: #ADADAD;
	color: #000000;
}

.btn_addone {
	background-color: #179B16;
	color: white;
}

.prod_next_num {
	text-align: center;
	width: 30%;
	border: 0px;
	font-size: 18px;
	background-color: #EFEFF4;
}


/*end*/

.weui-popup__overlay_add {
	z-index: 1000;
}

.weui-search-bar {
	padding: 1px 1px;
	margin-top: 8px;
}